torch==2.8
torchvision
torchaudio
torchao==0.13.0
optimum-quanto
transformers
loguru
safetensors
numpy
opencv-python
librosa
accelerate
tqdm
ftfy
imageio==2.37.0
imageio-ffmpeg==0.6.0
soundfile
pyloudnorm
scikit-image==0.25.2
sageattention==1.0.6
pydantic